body {
    background: #eee;
    font-family: sans-serif;
}

.card {
    width: 400px;
    background: #fff;
    /* margin: 16px auto; */
    padding: 10px;
}

.title {
    background: #e3f4ff;
    margin: 0 0 10px 0;
    padding: 10px;
}

.content {
    background: #e3f4ff;
    padding: 10px 15px;
    margin-bottom: 10px;
}

.button-container {
    background: #e3f4ff;
    display: block;
    text-align: center;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    padding: 10px;
}

button {
    display: block;
    margin: 0 auto;
    background: white;
    margin-top: 4px;
    border: 1px solid #eee;
    padding: 10px 30px;
}